@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	min-width: 520px;
	background-color: #f3f3f3;
}

#container {
	width: 500px;
	margin: 0 auto;
	padding: 10px 10px;
	background-color: #fff;
}

h1 {
	font-weight: 300;
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 20px;
}

h3 {
	font-weight: 300;
	font-size: 20px;
	line-height: 20px;
}

input.input {
	font-size: 16px;
	line-height: 16px;
	padding: 4px;
	width: 85%;
}

input.param {
	font-size: 16px;
	line-height: 16px;
	padding: 4px;
	width: 90px;
}

#room-container {
	float: right;
	width: 210px;
	margin-top: 5px;
}

#room-container input {
	width: 160px;
}

#room-container button {
	width: 20%;
}

button {
	font-size: 16px;
	line-height: 16px;
	padding: 7px;
	width: 13%;
	float: right;
}

.win {
	width: 100%;
	border: 1px solid #aaa;
	margin: 6px 0px 20px;
	overflow: auto;
}

.win div: {
	width: 100%;
}

.win div {
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	padding: 4px;
}

.win div:nth-of-type(odd){
	background-color: #f3f3f3;
}

.win div:nth-of-type(even){
	background-color: #ddd;
}

#msgs {
	height: 300px;
}

#cmds {
	height: 200px;
}

.cmd {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid black;
	margin-top: 5px;
	background-color: #e3e3e3;
}

.cmd:hover {
	cursor: pointer;
	background-color: #f0f0f0;
}


